<html>
    <head>
        <meta charset="utf-8"/>
        <title>WingWatch Bird Classifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script src="{{ url_for('static', filename='javascript/javascript.js') }}"></script>
    </head>
    <body>
        <nav class="nav-site">
            <a class="two">WingWatch</a>
            <a href="/">Classifier</a>
            <a href="/catalog">Species Catalog</a>
            <a href="/confidence_tab">Confidence Graph</a> 
        </nav>
        <h1>Top Confidence Scores By Bird Species</h1>
        <img src="{{ url_for('static', filename='/images/fig_storage.png')}}" class="center">
        <h3>Confidence Scores from the Last Image Prediction</h3>
    </body>
</html>